.item{
    height: 120px;
    margin: auto;
    color: #FFF;
    padding: 10px;
}
.item i{
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    opacity: 0.5;
}
.item.item1{
    background: #ff5455;
}
.item.item2{
    background: #79c447;
}
.item.item2 i{
    font-size: 110px;
    line-height: 110px;
    text-align: center;
    opacity: 0.5;
    margin-left: -10px;
}
.item.item3{
    background: #67c2ef;
}
.item h4{
    font-size: 27px;
    padding-top: 5px;
}
.item p{
    font-size: 25px;
}
